<div class="col-10 offset-1 about">
  	<h1>About Splurty</h1>

	<p>
    	Splurty was built by <a target="_blank" href="https://avalosjm.netlify.com/">Juan</a>. An old programmer on a mission to get in touch with his roots!
  	</p>
  	
  	<br />
  	
  	<p>
	If you want to learn how to code - start <a target="_blank" href="http://www.thefirehoseproject.com/"> here</a>.
  	</p>

	<div class="row">
	
		<div class="col-12 col-sm-4" style="padding-top:30px;">
			<%= image_tag 'Juan.jpg', class: 'img-fluid' %>
		</div>
	
		<br class="clear" />

		<div class="col-12 col-sm-7" offset-sm-1">
			<h2 class="text-center">Juan M. Avalos</h2>
			<br />
			<p>
				Juan is a student of Firehose.
			</p>
		</div>
	
	</div>

</div>

<br class="clear" />
<br />
<br />
<br />
<br />

